*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

header{
    background-Color:rgb(207, 203, 203);
}

.nav{
    list-style-type:none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.nav a{
    text-decoration: none;
    color:black;
}

.nav a:hover{
    padding:10px 10px 10px 10px;
    background-color:#6CB840;
    color:white;
    border-radius: 5px;
}

#container-nav{
    padding:60px 20px 20px 20px;
}

#btn{
    padding:10px 10px 10px 10px;
    border-radius:10px;
    background-color:#6CB840;color:white;
    cursor: pointer;
}

#headpara{
    font-family: 'Poppins', sans-serif;
    padding:90px 90px 90px 90px;
}


.row{
    display: flex; 
}

#colImg{
    padding:90px 90px 90px 200px;
}

#para2{
    font-family: 'Poppins', sans-serif;
    padding:100px 90px 90px 120px;
}

#row2{
    margin-top:30px;
}

#section{
    font-family: 'Poppins', sans-serif;
    padding:40px 40px 40px 40px;
    width: 100%;
}

#menu{
    margin:30px 30px 0px 30px;
    padding:30px 30px 30px 0px;
    background-color:#edfff2;
}

#explore{
    display: inline-block;
}

#exploreMenu{
    display:flex;
    padding:30px 30px 30px 30px;
}

.burgerstmt{
    background-color: white;
    padding:20px 20px 0px 20px;
    border-bottom-right-radius: 60px;
}


.burgerstmt p{
    margin-top:10px;
    padding:0px 30px 10px 30px;
}

.burger{
    display: flex;
}

.burgerimg{
    margin-top: 50px;
    margin-right:-60px;
    z-index:1000;
}

#hotDeals{
    background-color:#cce9bb;
    margin:0px 30px 0px 30px;
    padding:30px 30px 30px 30px;
}

#hotdealsCol2{
    padding:100px 30px 30px 0px;
}

#hotdealsCol2 p{
    display: flex;
    float: left;
}

#hotdealsCol2 h1{
    font-size: 40px;
}

#hotdealsCol2 h3{
    font-size:30px;
}

input{
    width:500px;
    height:30px;
    border-radius:10px;
    padding-left:30px;
}

.btn{
    padding:10px 10px 10px 10px;
    border-radius:20px;
    width:80px;
}

#contact{
    background-color:#fcd886;
    margin:0px 30px 30px 30px;
    padding:30px 30px 90px 30px;
    text-align: center;
}